body {
    text-align: center;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    margin: 0px;
    overflow: hidden;
}

a {
    color: darkgrey;
    text-decoration: underline;
    cursor: pointer;
}

.calendar-header {
    user-select: none;
}

.calendar-header * {
    display: inline-block;
    width: 40%;
}

.calendar-header a,
.calendar-header button {
    width: 30%;
}

.link-button {
    background: none;
    border: none;
    text-decoration: underline;
    color: darkgrey;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
}

.calendar-header button {
    background: none;
    border: none;
    text-decoration: underline;
    color: darkgrey;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px;
    padding: 8px;
}

.calendar-day {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: black;
    border-radius: 4px;
    font-size: inherit;
    padding: 4px 8px;
    margin: 0px 2px;
}

main {
    margin: 40px auto;
    max-width: 400px;
}